body {
  font-size: 25px !important;
  /*color: #fff;*/
  /*background-color: #61122f;*/
  font-family: 'NanumSquare', sans-serif;
}


/* HEADER */
header{
  position: fixed;
  width:   100%;
  z-index: 2;
}

#header-nav {
  background-color: #000;
  border-radius: 0;
  border: 0;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-brand h1 { /* Restaurant name */
  color: #fff;
  font-size: 1.2em;
  /*font-weight: bold;*/
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  /*line-height: .75;*/
}

#nav-list a {
  color: #fff;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}

/* lading section */
/*#landing-content{
  height: 100vh;
  background-color: gray;
}*/

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

.video-content{
  width:100%;
  height:100vh;
  position: relative;
}

#main-text {
  width:100%;
  text-align: center;
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  position: absolute;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
}

/* facility content */
#facility-content{
  width:100%;
  background: white;
}

.icon-img-div{
  width:50%;
  margin:0 auto;
}

.icon-img{
  width:100%;
}

.icon-text{
  text-align: center;
}

/* information content */
#information-content{
  width:100%;
  background-color: black;
  color:white;
}

.information-text > div {
  padding-left:0px;
}

.information-text h4{
  font-weight: bold;
}

/* place content */
#place-content{
  width:100%;
  background-color: white;
}

.place-text h5 {
  font-weight: bold;
}

.place-text > div.row > div.pt {
  padding-left:0px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {

    .fsize-big{
      font-size:1.5em;
    }

    .fsize-mid{
      font-size: 1em;
    }

    .fsize-small{
      font-size: .6em;
    }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

    .fsize-big{
      font-size:1.5em;
    }

    .fsize-mid{
      font-size: 1em;
    }

    .fsize-small{
      font-size: .6em;
    }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

    .fsize-big{
      font-size:1.5em;
    }

    .fsize-mid{
      font-size: 1em;
    }

    .fsize-small{
      font-size: .6em;
    }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .fsize-big{
    font-size:1.5em;
  }

  .fsize-mid{
    font-size: 1em;
  }

  .fsize-small{
    font-size: .6em;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

}
